/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 70px;

  background: transparent;

  transition: all 0.35s ease;

  z-index: 1000;
}

/* Khi cuộn */

.header-scroll {
  background: rgba(36, 36, 36, 0.82);

  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}

/* Logo */

.logo {
  font-size: 27px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.logo-blue {
  color: #00cfff;
}

/* Navbar */

.navbar {
  display: flex;
  gap: 45px;
}

.navbar a {
  text-decoration: none;
  color: white;

  font-size: 16px;
  font-weight: 300;

  letter-spacing: 1px;

  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #00cfff;
}

/* Responsive */

@media (max-width: 768px) {
  .header {
    height: 65px;
    padding: 0 25px;
  }

  .logo {
    font-size: 22px;
  }

  .navbar {
    gap: 20px;
  }

  .navbar a {
    font-size: 13px;
  }
}